<td>
  <%= button_to '-', line_item, method: :delete, class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>
</td>
<td>
  <%= button_to '+', line_items_path(product_id: line_item.product), class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>
</td>
<td>
  <%= button_to 'Remove', line_item, params: { set_to_zero: true }, method: :delete, class: 'ml-4 rounded-lg py-1 px-2 text-black text-sm' %>
</td>