<% if line_item == @current_item_add %>
  <tr class="line-item-highlight-add">
<% elsif line_item == @current_item_del %>
  <tr class="line-item-highlight-del">
<% else %>
  <tr>
<% end %>
    <td class="text-right"><%= line_item.quantity %></td>
    <td>&times;</td>
    <td class="pr-2">
      <%= line_item.product.title %>
    </td>
    <td class="text-right font-bold">
      <%= number_to_currency(line_item.price) %>
    </td>

    <% unless params[:email_flag] == true %>
      <%= render partial: "line_items/button", locals: {line_item: line_item} %>
    <% end %>
  </tr>